SetEnvIf REQUEST_URI htc$ no-gzip dont-vary
AddType text/x-component htc
Options +FollowSymLinks

RewriteEngine On
RewriteCond &#37;{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]